/*
         NEON COLORS PALETTE
         Pink:     #FF1178
         Red:      #FE0000
         Yellow:   #FFF205
         Cyian:    #01FFF4
         Green:    #7CFF01
         Bg-color: #181818
         */
/*
        LAYOUT
*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.ww {
    width: 80vw;
}

main {
    height: 100vh;
    background-image: url("./DEMO/assets/img/bg.gif");
    background-color: #181818;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

#arena {
    width: 80vw;
    height: 100vh;
    max-width: 498px;
    max-height: 498px;
}

#char-section {
    padding: 0% 12% 5% 12%;
}

#player {
    width: 80px;
    height: 180px;
    overflow: hidden;
}

#opponent {
    width: 80px;
    height: 180px;
    overflow: hidden;
}

.modal-content {
    width: 90vw;
}



/*
        ELEMENTS
*/
.hp {
    height: 10px;
}

.pg {
    object-fit: cover;
    object-position: 50%;
    width: auto;
    position: relative;
}

.obj-item {
    min-width: 6rem;
    min-height: 6rem;
}

.obj-skill {
    min-width: 6rem;
    min-height: 8rem;
}

.fit {
    object-fit: cover;
    width: auto;
    height: 100%;
}

/*
      CUSTOMIZATION
*/
.bg-dark-mirror{
    background-color: #181818e1
}
.bg-neon-mirror-c{
    background-color: #01FFF4c7
}
.bg-neon-mirror-p{
    background-color: #ff11784e
}
.bg-neon-g{
    background-color: #1dad00;
}
.text-neon-c {
    color: #01FFF4;
}

.text-neon-p {
    color: #FF1178;
}

.text-neon-r {
    color: #FE0000;
}

.text-neon-g {
    color: #7CFF01;
}
#heading {}

#stats-wrapper {}

#player-name {}

#opponent-name {}

#actions-wrapper {}

#btn-att {}

#btn-skill {}

#btn-item {}

#btn-run {}



/*
        UTILITY
*/
.resize {
    position: relative;
    right: 100%;
}




/*
        ARENA CLASSES
*/
.arena-corpoBuilding {
    background-image: url('./DEMO/assets/img/arenas/corpo-building.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.arena-foggyGasStation {
    background-image: url('./DEMO/assets/img/arenas/foggy-gas-station.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.arena-industrialRooftop {
    background-image: url('./DEMO/assets/img/arenas/night-industrial-rooftop.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.arena-corpoStreet {
    background-image: url('./DEMO/assets/img/arenas/night-corpo-street.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.arena-nightStreetfood {
    background-image: url('./DEMO/assets/img/arenas/night-streetfood.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.arena-vhsShop {
    background-image: url('./DEMO/assets/img/arenas/Night-vhs-shop.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.arena-apocalypse {
    background-image: url('./DEMO/assets/img/arenas/apocalypse.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.arena-interlude-0 {
    background-image: url('./DEMO/assets/img/status-bg/interlude-1.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.arena-interlude-1 {
    background-image: url('./DEMO/assets/img/status-bg/interlude-0.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.game-over {
    background-image: url('./DEMO/assets/img/status-bg/game-over.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.end-game {
    background-image: url('./DEMO/assets/img/status-bg/end-game.gif');
    background-color: darkslategray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/*
        ANIMATION CLASSES AND KEYFRAMES
*/
.hide {
    animation: fade-in 15s forwards ease-in-out;
    opacity: 100%;
}

.idle{
    animation: idle 2s ease-out infinite alternate;
}
.idle-att{
    animation: idle-att .3s ease-in-out infinite ;
}
.idle-skill{
    animation: idle-skill .3s ease-in-out infinite ;
}
.idle-item{
    animation: idle-item .3s ease-in-out infinite ;
}
.hurt {
    animation: hurt .5s;
    position: relative;
    left: 0px;
    right: 0px;
}

.att {
    animation: attack 1.5s;
    position: relative;
    left: 0px;
    right: 0px;
}
.att-end {
    animation: attack-end 1.5s;
    position: relative;
    left: 0px;
    right: 0px;
}

.heal {
    animation: healing 1.5s ease-in-out;
    position: relative;
    left: 0px;
    right: 0px;
}

.shot {
    animation: shooting 1.5s;
    position: relative;
    left: 0px;
    right: 0px;
}
.shot-end {
    animation: shooting-end 1.5s;
    position: relative;
    left: 0px;
    right: 0px;
}

.boom {
    animation: boom 1.5s;
    position: relative;
    left: 0px;
    right: 0px;
}
.boom-end {
    animation: boom-end 1.5s;
    position: relative;
    left: 0px;
    right: 0px;
}



@keyframes attack {
    0% {
        left: 0px;
        right: 0px;

    }

    75% {
        left: 50%;
        right: 0px;
    }

    80% {
        left: 45%;
        right: 0px;
    }

    83% {
        left: 50%;
        right: 0px;
    }

    86% {
        left: 54%;
        right: 0px;
    }

    89% {
        left: 45%;
        right: 0px;
    }

    85% {
        left: 50%;
        right: 0px;
    }

    90% {
        left: 54%;
        right: 0px;
    }

    95% {
        left: 50%;
        right: 0px;
    }

    100% {
        left: 0px;
        right: 0px;
    }
}
@keyframes attack-end {
    0% {
        left: -0px;
        right: 0px;

    }

    75% {
        left: -50%;
        right: 0px;
    }

    80% {
        left: -45%;
        right: 0px;
    }

    83% {
        left: -50%;
        right: 0px;
    }

    86% {
        left: -54%;
        right: 0px;
    }

    89% {
        left: -45%;
        right: 0px;
    }

    85% {
        left: -50%;
        right: 0px;
    }

    90% {
        left: -54%;
        right: 0px;
    }

    95% {
        left: -50%;
        right: 0px;
    }

    100% {
        left: -0px;
        right: 0px;
    }
}

@keyframes healing {
    0% {
        box-shadow: 0px 0px 0px 0px #02ff021e;
    }

    75% {
        box-shadow: 0px 0px 12px 5px #02ff021e;
    }

    80% {
        box-shadow: 2px -5px 12px 5px #02ff021e;
    }

    83% {
        box-shadow: 12px -2px 12px 5px #02ff021e;
    }

    86% {
        box-shadow: 12px 5px 12px 5px #02ff021e;
    }

    89% {
        box-shadow: 12px 12px 12px 5px #02ff021e;
    }

    85% {
        box-shadow: inset 2px 12px 12px 5px #02ff021e;
    }

    90% {
        box-shadow: inset -12px 12px 12px 5px #02ff021e;
    }

    95% {
        box-shadow: inset -2px 2px 25px 23px #02ff021e;
    }

    100% {
        box-shadow: inset 0px 0px 45px 50px rgba(0, 128, 0, 0.13);
    }
}

@keyframes hurt {
    0% {
        left: 30px;
        right: 0;
        box-shadow: inset 0 0 50px 0px rgb(255, 0, 0, .5);

    }

    20% {
        right: 30px;
        left: 0;

    }

    40% {
        left: 15px;
        right: 0;
        box-shadow: 0 0 40px 0px rgb(255, 0, 0, .3);
    }

    60% {
        right: 15px;
        left: 0;
        box-shadow: 0 0 50px 0px rgb(255, 0, 0, .3);
    }

    80% {
        left: 10px;
        right: 0;

    }

    100% {
        right: 10px;
        left: 0
    }
}

@keyframes fade-in {
    0% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    80% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes shooting {
    0% {
        box-shadow: 0px 0 0 0px #01fff4;
    }

    35% {
        box-shadow: -43px 0px 50px 5px #01fff4;
    }

    75% {
        box-shadow: -43px 0px 35px -25px #01fff4;
    }

    80% {}

    83% {}

    86% {}

    89% {}

    85% {}

    90% {}

    95% {}

    100% {
        box-shadow: 100px 0px 48px -41px #01fff4;
    }
}
@keyframes shooting-end {
    0% {
        box-shadow: 0px 0 0 0px #01fff4;
    }

    35% {
        box-shadow: 43px 0px 50px 5px #01fff4;
    }

    75% {
        box-shadow: 43px 0px 35px -25px #01fff4;
    }

    80% {}

    83% {}

    86% {}

    89% {}

    85% {}

    90% {}

    95% {}

    100% {
        box-shadow: -100px 0px 48px -41px #01fff4;
    }
}

@keyframes boom {
    0% {left:0;}
    
    40% {left:50%;}
    
    75% {left: 0%;
        right: 0px;
        box-shadow: 0px 0px 0px 0px red;
    }

    80% {
        left: 3%;
        right: 0px;
        
    }

    83% {
        left: 5%;
        right: 0px;
    }

    86% {
        left: 10%;
        right: 0px;
    }

    89% {
        left: 3%;
        right: 0px;
    }

    85% {
        left: 5%;
        right: 0px;
    }

    90% {
        left: 10%;
        right: 0px;
    }

    95% {
        left: 5%;
        right: 0px;
    }

    100% {
        left: 0px;
        right: 0px;
        box-shadow: 0px 0px 50px 0px rgba(255, 166, 0, 0.171);
    }
}
@keyframes boom-end {
    0% {left:0;}
    
    40% {left:-50%;}
    
    75% {left: -0%;
        right: 0px;
        box-shadow: 0px 0px 0px 0px red;
    }

    80% {
        left: -3%;
        right: 0px;
        
    }

    83% {
        left: -5%;
        right: 0px;
    }

    86% {
        left: -10%;
        right: 0px;
    }

    89% {
        left: -3%;
        right: 0px;
    }

    85% {
        left: -5%;
        right: 0px;
    }

    90% {
        left: -10%;
        right: 0px;
    }

    95% {
        left: -5%;
        right: 0px;
    }

    100% {
        left: -0px;
        right: 0px;
        box-shadow: 0px 0px 50px 0px rgba(255, 166, 0, 0.171);
    }
}

@keyframes idle {
    0% {
        box-shadow: 0px 0px 20px 0px #FF1178
    }

    33% {
        box-shadow: 0px 0px 20px 2px #FF1178
    }

    66% {
        box-shadow: 0px 0px 20px 1px #01FFF4
    }

    100% {
        box-shadow: 0px 0px 20px 0px #01FFF4
    }
}
@keyframes idle-att {
    0% {box-shadow: 2px 0px 5px 0px green;}

    25% {box-shadow: 0px 2px 5px 0px green;}

    50% {box-shadow: -2px 0px 5px 0px green;}

    75% {box-shadow: 0px -2px 5px 0px green;}

    100% {box-shadow: 0px -2px 5px 0px green;}
}
@keyframes idle-skill {
    0% {box-shadow: 2px 0px 5px 0px #01FFF4;}

    25% {box-shadow: 0px 2px 5px 0px #01FFF4;}

    50% {box-shadow: -2px 0px 5px 0px #01FFF4;}

    75% {box-shadow: 0px -2px 5px 0px #01FFF4;}

    100% {box-shadow: 0px -2px 5px 0px #01FFF4;}
}
@keyframes idle-item {
    0% {box-shadow: 2px 0px 5px 0px #fff205;}

    25% {box-shadow: 0px 2px 5px 0px #fff205;}

    50% {box-shadow: -2px 0px 5px 0px #fff205;}

    75% {box-shadow: 0px -2px 5px 0px #fff205;}

    100% {box-shadow: 0px -2px 5px 0px #fff205;}
}